In [4]:
import pandas as pd 
data  = pd.DataFrame({"ID":[1,2,3,4,5],"Assignment":[5,5,7,3,3],"GPA":[3.1,2,3.5,2.9,1.9],"Passed":['yes','no','yes','no','no']})
data

   ID  Assignment  GPA Passed
0   1           5  3.1    yes
1   2           5  2.0     no
2   3           7  3.5    yes
3   4           3  2.9     no
4   5           3  1.9     no

In [12]:
import math
ndata  = pd.DataFrame({"ID":[7],"Assignment":[6],"GPA":[2]})
ndata
for all(for i in data):
    knn = math.sqrt((ndata.iat[0,1]-i)**2+((ndata.iat[0,2]-i)**2))
    nknn= knn
    print(knn)

SyntaxError: invalid syntax (<ipython-input-12-65c37f8fc9bd>, line 4)